/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

section {
  min-height: 100vh;

  & h2 {
    margin: 2rem 0 0;
    text-align: center;
  }
}

.exchange {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper {
      align-content: center;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 80px 1fr;
      justify-content: center;

      &__convert-button {
        align-self: flex-start;
        margin-top: 0.5rem;
      }

      &__currency-swap {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__result {
    margin-top: 3rem;
    padding: 0 1rem;
    text-align: left;

    &__amount {
      font-size: 1.75rem;
      letter-spacing: 2px;
    }

    &__text {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }
  }
}
